
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 15px;
    background-color: rgb(23, 33, 63);
}
.container{
    padding:5rem;
    display: flex;
    flex-wrap: wrap;
}
.profile{
    min-width: 18rem;
    height: 26rem;
    margin-right: 2rem;
    background-color: #0F162B;
    border-radius: 0.5rem;;
    margin-bottom: 1rem;
}
.profile img{
    height: 15rem;
    width: 18rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
}
.profile .name,
.profile .position,
.profile .prev{
    padding-left: 1.5rem;
}

.profile .name{
    margin-top: 0.5rem;
    color:rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}
.profile .position{
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.2rem;
}
.profile .prev{
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
}
.profile .logo1{
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
    object-fit: contain;
}
.profile .logo2{
    padding-left: .5rem;
    margin-top: 1.5rem;
    width: 5rem;
    height: 1rem;
    object-fit: contain;
}
.profile .logo3{
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    object-fit: contain;
}
.profile4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.617);
    background-color: rgb(23, 33, 63);;
    border: 0.3rem solid #0f162b85;
    min-width: 17.4rem;
    height: 25.4rem;
}
.profile4 p{
    font-size: 1.3rem;
    margin-top: 0.5rem;
}
.fa-plus{
    font-size: 1.7rem;
}

@media screen and (max-width:768px) {
 .container{
    padding: 5rem 0;
    justify-content: center;
 }
 .profile , .profile4{
    margin: 1rem 0 0 0;
 }
}