*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    background-color:  rgb(58,56,76);
}
.main-container{
    width: 46rem;
    padding: 2rem; 
}
.container1{
    background-color:rgb(40,38,57);
    border-radius: 1rem;
}
.header{
    background-color: rgb(237, 104, 106);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    border-radius: 1rem 1rem 0 0;
}
.header img{
    width: 5rem;
    border-radius: 50%;
    border: 0.2rem solid white;
}
.image1{
    position: relative;
    z-index: 1;
}
.image2{
    margin-left: -1.3rem;
}
.image3{
    margin-left: -1.3rem;
}
.header-text{
    margin-left: 2rem;
}
.header-text p{
    font-size: 1.4rem;
}
.message-box{
    color: white;
    display: flex;
}
.message-text{
    background-color: rgb(58,56,76);
    margin: 1rem 3rem 2rem 0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
.message-text p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}
.message-box img{
    padding: 2rem;
    width: 5rem;
    height: 4em;
    object-fit: contain;
}
.message-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.message-input input{
    flex-basis: 80%;
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    background-color:  rgb(58,56,76);
    border-radius: 2rem 0 0 2rem;
    color: gray;
    border: 0.1rem solid rgb(237, 104, 106);
}
.message-input i{
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
    background-color: rgb(40,38,57);
    border: 0.1rem solid rgb(237, 104, 106);
    border-radius: 0 2rem 2rem 0;
}
.container2{
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.cross-div i {
    background-color: rgb(237, 104, 106);
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 50%;
}