@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    background-color: rgb(246,248,252);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
#container{
    margin-top: 1rem;
    padding: 2rem;
    background-color: white;
    width: 26rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}
.section1{
    display: flex;
    justify-content: space-between;
}
.section1 i{
    color: rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}
.section1 p{
    color:  rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    align-self: flex-end;
}
.section2{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2 h3{
    font-size: 1.3rem;
    font-weight: 600;
}
.section2 p{
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.section2 img{
    width: 21rem;
    height: 12rem;
    margin: 2rem 0;
}
.section2 hr{
    width: 100%;
    border: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.section2 .music-time{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
}
.section2 .music-time p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.495);

}
.section2 .music-control{
    margin-top: 2rem;
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1.2rem;
}
.section2 .music-control i{
    color: rgba(0, 0, 0, 0.3);
}
.section2 .music-control .fa-circle-play{
    font-size: 3.5rem;
}

.song-name{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    margin: 1rem 0;
}
.song-name p{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}
.active{
    display: flex;
    align-items: center;
    margin-left: -0.75rem;
}
.active span{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
}
.active i{
    color: cyan;
    font-size: 0.4rem;
    margin-right: 0.3rem;
}
#dot{
    text-align: center;
    color: cyan;
    font-size: 3rem;
}