@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(235,235,235);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.main-container{
    display: flex;
    justify-content: space-around;
}

form{
    width: 21rem;
    margin-top: 2rem;
}
form legend{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(45, 114, 241);
    margin-bottom: 2rem;
}
.form-field{
    margin-bottom: 2rem;
}
.form-field label{
    color: rgb(45, 114, 241);
    font-weight: 500;
}
.form-field input{
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem 0;
    border: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
}
.form-field select{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 0.7rem;
    background-color:  rgb(235,235,235);
    border: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}
select option{
    font-size: 1.2rem;
}

button{
    width: 100%;
    background-color: rgb(45, 114, 241);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 40rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
}

.left-side-card img{
    width:4rem;
}
.left-side-card{
    flex: 1;
}
.right-side-card{
    flex: 3;
}
.section1{
    display: flex;
    justify-content: space-between;
}
.section1 #priority{
    font-size: 1rem;
    background-color: #ff2b8a;
    color: white;
    padding: 0.2rem 0.7rem;
    border-radius: 0.3rem;
}
.section1 #date{
    color: rgba(0, 0, 0, 0.3);
}
.section2 p{
    color: #5725a6;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}
.section3{
    margin: 1.5rem 0;
}
.section3 span{
    background-color:rgb(235,235,235);
    color: rgb(45, 114, 241);
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
}
.section4{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    color:rgb(45, 114, 241);;
}
.section4 span{
    font-size: 1.2rem;
    font-weight: 500;
}
.section4 i{
    color: gray;
}